# Archivos generados por Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/

# Salidas generadas por la app
salidas/

# Archivos temporales
*.log
*.tmp
*.bak
.pytest_cache/
.env
.env.*
!.env.example
.vercel/

# Archivos del sistema
.DS_Store
